<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
    
    <!-- VueJS -->
    <script src="https://unpkg.com/vue@next"></script>
    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- CSS Stylesheet -->
    <link href="./css/style.css" type="text/css" rel="stylesheet" />
    <!-- Navbar CSS -->
    <link rel="stylesheet" type="text/css" href="./css/navBarStyle.css">
    <!-- Bootstrap CSS -->
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet'
        integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous'>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Header Component -->
    <script>
        $(function () {
            $("#mainNav").load("./assets/components/navbar.html");
            $("#header").load("./assets/components/header.html");
            $("#footer").load("./assets/components/footer.html");
        });
    </script>
    <style>
        /*Center the paypal button in IE*/
        #paypal-button-container{
        text-align:center;
        }
        /*Center the button in modern browsers*/
        #paypal-button{
        display: block; 
        margin: 0 auto;
        width: 100px;
        }
    </style>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav"></nav>
    <div class="container-fluid wrapper">
        <div class="row bg-light py-5 mb-4">
            <div class="col text-center ">
                <h1 class="text-uppercase">PAYMENT</h1>
            </div>
        </div>
        <div class="container" id="app">
            <div v-if="containId">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Medicines</th>
                            <th scope="col">Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(obj, key) in medicines">
                            <td class="col">{{ key}}</th>
                            <td class="col">{{obj}}</td>
                        </tr>
                        <tr class="table-dark">
                            <td>
                                Total: 
                            </td>
                            <td>
                                ${{total}} 
                            </td>
                        </tr>
                        <tr>
                            <td>

                            </td>
                            <td class="col-2">
                                <div id="paypal-payment-button"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div v-else>
                <h1 class="text-center">{{errorMsg}}</h1>
            </div>
            
            <!--//Table-->
        </div>
    </div>
    
    <footer id="footer"></footer>

    <script src="https://www.paypal.com/sdk/js?client-id=AXBHhz49264E_2aa5D6rUN-Sugu8nnWdXSwaDCtZVQ5pgGDCP7RbRr2CSzDYi6Nyjj8GOVEN8yhfii0H&currency=SGD&disable-funding=credit,card&locale=en_SG" data-sdk-integration-source="button-factory"></script>
    <script>
    
    const app = Vue.createApp({
        data() {
            return {
                total: 0,
                medicines: {},
                id: 0,
                containId: true,
                errorMsg: ""
            }
        },
        created() {

            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);

            
            if (urlParams.get('id') != null){ 

                
                this.id = urlParams.get('id');

                // call by /frontend/payment.html?id=1
                axios.get('http://localhost:5003/payment/' + this.id) 
                .then(response => {
                    console.log("data: "+ JSON.stringify(response.data.data) ); 
                    // check payment status
                    if (response.data.data.status == "paid") { // *** TODO: also validate if the logged in user is the billed user
                        this.containId = false;
                        this.errorMsg = "You have already made your payment. Thank you!";
                    }
                    else {
                        
                        this.total = response.data.data.total;
                        const json = response.data.data.medicines;
                        this.medicines = JSON.parse(json);

                        this.initPayPalButton(this.total, this.id); // initialize paypal button
                    }
                })
                .catch(error => {
                    this.containId = false;
                    this.errorMsg = "An error has occurred. Please try again.";
                    console.log('There was an error: ' + error.message);
                })
                .finally(() => {
                    
                });
            }
            else {
                this.containId = false;
                this.errorMsg = "Invalid Payment Details";
            }
        },
        computed: {
            
        },
        methods: {
            
            initPayPalButton(total, id) {

                var uuid = "REFID-" + this.uuidv4();
                paypal.Buttons({
                style: {
                    shape: 'rect',
                    color: 'gold',
                    layout: 'vertical',
                    label: 'pay',
                    containId: false,
            
                },
                createOrder: function(data, actions) {
                    
                    // set up transaction
                    return actions.order.create({
                        purchase_units: [{
                            "amount": {
                                "currency_code":"SGD",
                                "value": total
                            },
                            "invoice_id": uuid
                        }]
                    });
                },

                onApprove: function(data, actions) {

                    // captures the funds from the transaction
                    return actions.order.capture().then(function(orderData) {
                        
                        // Payment capture
                        // console.log(orderData);
                        //var orderId = orderData.id;
                        // console.log("orderData: "+ orderId);
                        // Do update 
                        const data ={
                            "order_id": uuid// order id from paypal 
                        };
                        axios.put('http://localhost:5003/payment/update/'+id, data)
                        .then(response => {
                            let result = response.data;
                            console.log("Success: "+ result);
                        })
                        .catch(error => {
                            console.log('There was an error: ' + error.message);
                        })
                        .finally(()=>{
                            window.location.replace("paymentSuccess.html"); 
                        });
                        
                        
                    });
                },
                onCancel: function(data) { // cancal payment
                    // console.log(data);
                    // this.containId = false;
                    // this.errorMsg = "An error has occurred. Please try again.";
                    // window.location.replace("OnCancel.html"); 
                },
                onError: function(err) { // prevents buyer checkout
                
                    console.log(err);
                }
                }).render('#paypal-payment-button');
            },
            uuidv4() {
                return ([1e7]+-1e3+-4e3+-8e3+-1e11).replace(/[018]/g, c =>
                    (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
                );
            }
        }
    })

    const vm = app.mount('#app');
    </script>
</body>
</html>